<div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="bar-chart">Chart não genérico</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="doughnut-chart">Vendas Trimestrais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="radar-chart">Projeções Futuras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pie-chart">Vendas p/ Produtos</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >sair</a>
      </li>
    </ul>
    <div>
        <router-outlet></router-outlet>
    </div>
  </div>


<app-generic-chart [model]="barChartTest"></app-generic-chart>

  <!-- <app-generic-chart *ngIf="dataApi" [model]="genericCharts[0]"></app-generic-chart> -->
  <!-- <app-generic-chart [model]="radarChart"></app-generic-chart>
  <app-generic-chart [model]="pieChart"></app-generic-chart> -->
  <!-- <app-generic-chart [model]="genericCharts[1]"></app-generic-chart> -->
  <!-- <app-generic-chart [model]="genericCharts[2]"></app-generic-chart> -->
  <!-- <app-generic-chart [model]="genericCharts[3]"></app-generic-chart>
  <app-generic-chart [model]="genericCharts[4]"></app-generic-chart>
  <app-generic-chart [model]="genericCharts[5]"></app-generic-chart> -->
