<!-- <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="bar-chart">Análise p/ Ano</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="doughnut-chart">Vendas Trimestrais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="radar-chart">Projeções Futuras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pie-chart">Vendas p/ Produtos</a>
      </li>
    </ul>
    <div>
        <router-outlet></router-outlet>
    </div>
  </div> -->

  <app-generic-chart [model]="genericCharts[0]"></app-generic-chart>
  <app-generic-chart [model]="genericCharts[1]"></app-generic-chart>
  <app-generic-chart [model]="genericCharts[2]"></app-generic-chart>
  <app-generic-chart [model]="genericCharts[3]"></app-generic-chart>
  <app-generic-chart [model]="genericCharts[4]"></app-generic-chart>
  <app-generic-chart [model]="genericCharts[5]"></app-generic-chart>
  <app-generic-chart [model]="genericCharts[6]"></app-generic-chart>
  <app-generic-chart [model]="genericCharts[7]"></app-generic-chart>