<p>register-page works!</p>

<button (click)="deleteMethod()">Deletar</button>

<button (click)="getMethod()">Get</button>

<button (click)="createMethod()">Criar</button>

<button (click)="updateMethod()">Atualizar</button>

<button (click)="cleanMethod()">Clear</button>

<p>{{user.name}}</p>
<p>{{user.cpf}}</p>
<p>{{user.telephone1}}</p>
<p>{{user.telephone2}}</p>



<section>
    <div class="container">
        <h3>Cadastre seus dados para receber novas informações sobre o Everaldo!</h3>
        <app-form [form]="form"></app-form>
    </div>    
</section>



